.brand-select {
  position: relative;
  padding: 20px 0 0 20px;

  .container {
    max-width: 1650px;
  }
}

.brand-select-menu {
  height: 450px;
  width: 450px;
  position: relative;
  border: 1px dashed rgba(25, 195, 255, 0.2);
  box-sizing: border-box;
  border-radius: 300px;

  .bg-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    background: #f1fbff;
    border: 1px dashed rgba(25, 195, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0 14px 60px rgba(32, 14, 50, 0.03);
    border-radius: 250px;
  }
}

.main-brand-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand-logos-wrap {
  width: 100%;
  height: 100%;
}

.brand-logo {
  position: absolute;
  border-radius: 125px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(32, 14, 50, 0.04);

  &:hover {
    box-shadow: 0 14px 60px rgba(32, 14, 50, 0.04);
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
    filter: grayscale(1);
  }

  &:first-child {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(2) {
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
  }
  &:nth-child(3) {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(4) {
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
  }
  //&:nth-child(5) {
  //  left: 0%;
  //  bottom: 15%;
  //}
  //&:nth-child(6) {
  //  left: -20px;
  //  top: 15%;
  //}
}
